//
//  APIKey.xcconfig
//  KiKickBoard
//
//  Created by 원동진 on 2024/01/19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
NMFClientId = "2xkmerjbz5"
X-NCP-APIGW-API-KEY-ID = "2xkmerjbz5"
X-NCP-APIGW-API-KEY = "VgFQzLLwe57aS2SdVUzLG2imCIp2azEsfHZEu1hF"
